.header
    max-width: 1000px
    margin-inline: auto
    padding: 40px
    color: darken(#68A7AD,20 )
    & &-title
        color: #68A7AD
        font-size: 45px
        font-weight: 600
    & &-subtitle
        font-size: 28px
        font-weight: 300